<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Documentation API Catways</title>
</head>
<body>
    <a href="/dashboard">Retour au Dashboard</a> <br>
    <h1>Documentation de l'API</h1>

    <section>
        <h2>Vue d'ensemble</h2>
        <p>Cette API permet de gérer les catways, leurs réservations et les utilisateurs de l'application.</p>
    </section>

    <section>
        <h2>Gestion des Catways</h2>
        <ul>
            <li>Consultation de tous les catways disponibles</li>
            <li>Visualisation de l'état de chaque catway</li>
            <li>Modification de l'état des catways</li>
            <li>Création d'un catway</li>
        </ul>
    </section>

    <section>
        <h2>Gestion des Réservations</h2>
        <ul>
            <li>Création d'une réservation pour un catway spécifique</li>
            <li>Consultation des réservations existantes</li>
            <li>Modification des dates de réservation</li>
            <li>Annulation d'une réservation</li>
        </ul>
    </section>

    <section>
        <h2>Gestion des Utilisateurs</h2>
        <ul>
            <li>Création de compte utilisateur</li>
            <li>Connexion sécurisée</li>
            <li>Modification des informations du compte</li>
            <li>Gestion des droits d'accès avec la suppression</li>
        </ul>
    </section>

    <section>
        <h2>Sécurité</h2>
        <ul>
            <li>Authentification requise pour accéder aux fonctionnalités</li>
            <li>Sessions limitées à 10 minutes</li>
            <li>Mots de passe sécurisés et cryptés</li>
        </ul>
    </section>
</body>
</html>